<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <link rel="stylesheet" href="./css/02.player.css" />
  <link rel="stylesheet" href="./css/iconfont.css" />
  <style>
  video{
    width: 100%;
    height: 100%;
  }
  </style>
</head>

<body>
  <div id="player">
    <h2 class="title">网难云音乐</h2>
    <div class="search">
      <input type="text" v-model="query" @keyup.enter="search" />
      <button @click="search"><span class="iconfont icon-search"></span></button>
    </div>
    <p class="result">
      搜索"{{query}}",找到<span>{{musicList.length}}</span>首单曲
    </p>
    <ul class="tab-wrapper">
      <ul class="tab-bar">
        <li class="bar-item" :class="{active:index==1}" @click="index=1">
          单曲
        </li>
        <li class="bar-item" :class="{active:index==2}" @click="index=2">
          专辑
        </li>
        <li class="bar-item" :class="{active:index==3}" @click="index=3">
          歌手
        </li>
        <li class="bar-item" :class="{active:index==4}" @click="index=4">
          歌单
        </li>
        <li class="bar-item" :class="{active:index==5}" @click="index=5">
          用户
        </li>
        <li class="bar-item" :class="{active:index==6}" @click="index=6">
          MV
        </li>
        <li class="bar-item" :class="{active:index==7}" @click="index=7">
          歌词
        </li>
        <li class="bar-item" :class="{active:index==8}" @click="index=8">
          电台
        </li>
        <li class="bar-item" :class="{active:index==9}" @click="index=9">
          视频
        </li>
      </ul>
      <div class="tab-content">
        <div class="content-item" v-show="index==1">
          <div class="song-wrapper" v-for="(item, index) in musicList" :key="index">
            <div class="name">
              <span class="iconfont icon-play" id="item.copyrightId" @click='play(item.id)'></span>
              {{item.name}}
              <span class="iconfont icon-editmedia" @click='video(item.mvid)'></span>
            </div>
            <div class="singer">{{item.artists |forSinger}}</div>
            <div class="album">《{{item.album.name}}》</div>
            <div class="time">{{item.duration | forTime}}</div>
          </div>
        </div>
        <div class="content-item" v-show="index==2">2</div>
        <div class="content-item" v-show="index==3">3</div>
        <div class="content-item" v-show="index==4">4</div>
        <div class="content-item" v-show="index==5">5</div>
        <div class="content-item" v-show="index==6">
          <img  v-if="videoUrl==null" src="./img/404.jpg" alt="">
          <video v-else :src="videoUrl" controls loop autoplay ></video>
          </div>
        <div class="content-item" v-show="index==7">7</div>
        <div class="content-item" v-show="index==8">8</div>
        <div class="content-item" v-show="index==9">9</div>
      </div>
    </ul>
    <div class="player">
      <audio controls :src="musicUrl" autoplay></audio>
    </div>
  </div>
</body>

</html>
<script src="./lib/vue.js"></script>
<script src="./lib/axios.js"></script>
<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
<script>
  /*  
   1.tap栏切换  :class={active} index:1
   2.输入信息 双向绑定 按键确认 调用接口  存入数组  遍历数据  
   3.点击按钮，播放音频 
   4.点击视频，页面跳转,自动播放视频
  */


  let app = new Vue({
    el: '#player',
    data: {
      index: 1,
      query: '',
      musicList: [],
      musicUrl: "",
      videoUrl:''
    },
    methods: {
      search() {
        axios
        .get(`https://autumnfish.cn/search?keywords=${this.query}`).then(
          response => {
            console.log(response);
            this.index=1
            this.musicList = response.data.result.songs
          }
        )
        .catch( err => {})
      },
      play(id) {
        axios.get(`https://autumnfish.cn/song/url?id=${id}`).then(
          response => {
            // console.log(response);
            this.musicUrl = response.data.data[0].url
          }
          
        ).catch(
          err => {}
        )
      },
      video(id) {
        axios.get(`https://autumnfish.cn/mv/url?id=${id}`).then(
          response => {
            // console.log(response);
            this.index=6
            this.videoUrl=response.data.data.url
          
            
          }
          
         ).catch(err => {})
         
      }
    },
    filters:{
       forTime(value){
           console.log(value);
           //毫秒转秒
           const totalSecond=Math.floor(value/1000)
           //计算分钟
           let min=Math.floor(totalSecond/60)
           if (min<10){
             min="0"+min
           }
           //计算秒
           let second =totalSecond % 60
           if(second<10){
             second="0"+second
           }
           return min+":"+second
           
       },
       forSinger(singer){
         let str=''
           singer.forEach(v => {
              str+=v.name
              str+='/'
           });
         //删除反斜杠
         str=str.slice(0,-1)
         return str
       }
    }
  })
</script>